<%- include("partials/header") -%>
<%- include("partials/navbar") -%>

<h1 class="text-center text-warning bg-dark">🐶 Favorites 🐶</h1>


<% if (dogs.length > 0) { %>
    <div class="row row-cols-1 row-cols-md-3 g-4" data-masonry='{"percentPosition": true }'>
        <% dogs.forEach((dog, index) => { %>
        <div class="col">
            <div class="card">
                <img src="<%- dog.image_url -%>" class="card-img-top" alt="cute dogs">
                <div class="card-body">
                    <p class="card-text"><%- index + 1 -%></p>
                </div>
            </div>
        </div>
        <% }) %>
    </div>
<% } else { %>
    <h1 class="text-center">YOU DON'T HAVE ANY CUTE DOGS T.T</h1>
<% } %>

<%- include('partials/footer') -%>